<div id="<%= dom_id cart %>">
  <h2 class="font-bold text-lg mb-3"><%= t(".title") %></h2>

  <table class="w-full">
    <%= render cart.line_items %>
    <tr class="border-t">
      <td colspan="3" class="pt-2 pr-2 text-right font-bold"><%= t(".total") %></td>
      <td class="pt-2 text-right font-bold">
        <%= number_to_currency(cart.line_items.sum { |item| item.total_price }) %>
      </td>
    </tr>
  </table>

  <div class="mt-3 flex gap-2">
    <%= button_to t(".empty"),
        cart,
        method: :delete,
        class: "rounded-lg py-1 px-3 text-white bg-green-600" %>
    <%= button_to t(".checkout"),
        new_order_path(locale: I18n.locale),
        method: :get,
        class: "rounded-lg py-1 px-3 text-white bg-green-600" %>
  </div>
</div>
